/*  BODY -> font-family: 'Quicksand', sans-serif;
    TITLES -> font-family: 'Bebas Neue', cursive;
*/
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: black;
    padding: 16px 0;
}

header h1 {
    color: antiquewhite;
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
}

nav {
    background-color: #5ccda7;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 5px 40px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #b57edc;
}

nav ul li a.activo {
    background-color: #b57edc;
}

footer {
    background-color: #b57edc;
    clear: both;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    padding-bottom: 10px;
}

/****HOME****/
.bienvenidos {
    width: 45%;
    padding-right: 10px;
    box-sizing: border-box;
}

.img-home {
    width: 55%;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.cita-container {
    background-color: antiquewhite;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
}

.cita {
    font-style: italic;
    font-size: 1.7rem;
    display: block;
}

.autor {
    display: block;
    margin: 12px 0;
}

/****FIN HOME****/

/****ACERCA DE MI****/
.biografia {
    width: 45%;
    padding-right: 10px;
    box-sizing: border-box;
}

.img-biografia {
    width: 55%;
}

.section-redes {
    border: 1px solid #b57edc;
    border-radius: 10px;
    padding: 12px;
    margin: 12px 0px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.section-redes img {
    border-radius: 100px;
    display: block;
    max-width: 180px;
}

.section-redes ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.section-redes ul li {
    display: inline-flex;
    padding: 5px;
}

.section-redes ul li a {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.section-redes ul li a:hover {
    color: #b57edc;
}

.section-redes ul li img {
    max-width: 40px;
}

/****FIN ACERCA DE MI****/

/****DISENIOS****/
.disenios-container {
    padding-top: 4px;
}

.disenios {
    border: 1px solid #b57edc;
    border-radius: 10px;
    padding: 12px;
    margin: 12px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.disenios h2 {
    padding: 1rem;
}

.disenios .desc-disenio h3 {
    color: #b57edc;
    font-weight: bold;
    padding-bottom: 10px;
}

.disenios img {
    border-radius: 10px;
    display: block;
    max-width: 300px;
}

.disenios:nth-child(even) {
    flex-direction: row-reverse;
}

/****FIN DISENIOS****/

/****PRODUCTOS****/
.productos-container {
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.producto {
    width: 30%;
    border: 1px solid #b57edc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.producto img {
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

.producto p,
.producto h4 {
    line-height: 12px;
}

/****FIN PRODUCTOS****/

/****CONTACTO****/
.contacto-container {
    padding-top: 4px;
    display: flex;
    gap: 25px;
}
.contacto {
    width: 50%;
}
.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
}

.formulario p label {
    display: flex;
    align-items: center;
}

.formulario input, .formulario textarea{
    width: 65%;
}

.formulario textarea {
    resize: none;
    height: 150px;
}

.formulario input[type="submit"] {
    background: #5ccda7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 6px 20px;
    font-weight: 500;
    position: relative;
    left: 5rem;
    width: auto;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #b57edc;
}

.section-redes-contacto{
    border: 1px solid #b57edc;
    border-radius: 10px;
    padding: 12px;
    margin: 12px 0px;
    display: block;
    align-items: center;
    justify-content: center;
}

.section-redes-contacto img {
    border-radius: 100px;
    display: block;
    max-width: 120px;
}

.section-redes-contacto ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.section-redes-contacto ul li {
    padding: 5px;
    display: flex;
}

.section-redes-contacto ul li a {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.section-redes-contacto ul li a:hover {
    color: #b57edc;
}

.section-redes-contacto ul li img {
    max-width: 40px;
} 

/****FIN CONTACTO****/