body {
    display: flex;
    justify-content: center; 
}

.flex-container {
    display: inline-flex;
    border: 2px solid black;
    height: 600px;
    width: 600px;
}

.bloque {
    margin-top: 200px;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 150px;
    font-size: 24px;
    color: white;
}

.flex-container > div:first-child {
    background-color: red;
    order: 3;
}

.flex-container > div:nth-child(2) {
    background-color: blue;
    order: 2;
}

.flex-container > div:last-child {
    background-color: green;
    order: 1;
}